* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  background-color: #3cdbc0;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: white;
  text-align: center;
  padding-top: 10px;
}
.logo {
  border-top: 10px;
  border-bottom: 10px;
}
.nav {
  padding-top: 10px;
  padding-bottom: 13px;
}
.div {
  list-style: none;
  display: inline-block;
}
.link {
  padding: 20px;
  color: #4a4a4a;
  font-size: 16px;
  border-left: 20px;
  text-decoration: none;
}
.main {
  width: 100vw;
  height: 100vh;
  background-color: #3cdbc0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.item {
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}

@media all and(mind-width: 768px) {
  .header {
    display: flex;
    position: relative;
    background-color: white;
    justify-content: space-between;
    text-align: center;
    padding-top: 10px;
  }
}
